
:root {
	--search_border_radius: 1em;
	--search_radius_regen: .5s;
	--rel_modal_border_radius: 1em;
	--rel_modal_radius_regen: .5s;
}
body {
	/* min-width: 992px !important; */
	margin: 0;
	padding: 0;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #858796;
	text-align: left;
	background-color: rgba(80, 80, 80, 0.925);
	width:100vw;
	height:100vh;
}
*, ::before, ::after {
	box-sizing: border-box;
}
.colonneprincipal{
	width:100%;
	background-color: rgba(255, 255, 255, 0.87);
	overflow-x: hidden;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
	z-index: 10;
}
#containertableau{
	overflow-x: hidden;
	padding-bottom: 30px;
	transition: font-size .2s ease-in, padding .2s ease-in, margin .2s ease-in;
}
#pageheader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 11;
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
	justify-content: space-between;
	padding: 0.5rem 1rem;
}
#wrapper {
  display: flex;
	height: 100%;
	background-color: rgb(107, 107, 107);
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
a:link {
	text-decoration: none;
}
.brand-logo, #vinyl-bouton{
	z-index:13;
}
.brand-logo a, .brand-logo:link, .brand-logo:visited,
.vinyl-bouton a, .vinyl-bouton:link, .vinyl-bouton:visited{
	color: white;
}
.brand-logo a:hover, .brand-logo a:active,
.vinyl-bouton a:hover, .vinyl-bouton a:active {
	color: green;
	font-weight: 600;
	font-style: italic;
}
.pagination, a:link, .pagination a:visited{
	color: rgb(0, 37, 250);
}
.pagination a:link{
	color: rgb(0, 0, 0);
}




.shadow {
	box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.maselection::selection {
	background-color: rgba(235, 0, 0, 0.925);
}




.surtop {
	z-index: 9999;
}

/* tableau  */
.cardx{
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e3e6f0;
	border-radius: var(--search_border_radius);
	transition: border var(--search_radius_regen) ease-in;
}
.card-bodyx {
	flex: 1 1 auto;
	padding: 0.9rem;
}

@media (max-width: 575px) {
	#containertableau{
		margin: 1px;
		padding: 1px;
		font-size: .8rem;
		transition: font-size .2s ease-in, padding .2s ease-in, margin .2s ease-in;
	}
	.card-bodyx {
		padding: 0.6rem;
	}
}
.page-item.active .page-link {
	z-index: 0;
}