/* #wrapper {
	width: 100vw;
	height: 100vh;
	margin:0;
	padding:0;
	top: 0;
	bottom: 0;
} */

#modalalbum {
	position: fixed;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.5);
}
