:root{
	--button_top: -15px;
	--font_i_ori: 1.5rem;
	--font_i_des: 1rem;
}
#pagefooter {
	display: flex;
	justify-content: center;
	padding: 0;
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	height: 40px;
}
#pagefooter .boutton {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-self: top;
	font-weight: 400;
	vertical-align: top;
	font-size: 1rem;
	line-height: 1rem;
	border-radius: 0.3rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: 2 solid transparent;
	padding: .5rem 0.75rem 0;
	border-bottom: 0;
	margin: 0 .2rem;
	height:80px;
	background-color: #00000052;
	transition: margin 1.2s ease-out, background-color 1.3s ease-out, color 1.3s ease-out;
  cursor: pointer;
}
#pagefooter .boutton i {
	display: block;
	margin-bottom:5px;
	font-size: var(--font_i_ori);
	transition: font-size 0.4s ease-out;
}
#pagefooter .boutton.up{
	background-color: #ffffff;
	color: #000000;
	outline: #000000;
	margin-top: var(--button_top);
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#pagefooter .boutton:not(.up):hover i{
	font-size: 1rem;
	transition: font-size 0.4s ease-out;
	font-size: var(--font_i_des);
}
#pagefooter .boutton:not(.up):hover {
	background-color: #ffffff;
	color: #000000;
	outline: #000000;
	margin-top: var(--button_top);
	transition: margin 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
}
#pagefooter #options_link {
	background-color: #00410957;
}

#pagefooter #options_link.up{
	background-color: #ffffff;
	color: #000000;
	outline: #000000;
	margin-top: var(--button_top);
	transition: margin 0.2s ease-out, background-color 0.5s ease-out, color 0.5s ease-out;
}
#pagefooter #options_link:not(.up):hover {
	background-color: #ffffff;
	color: #000000;
	outline: #000000;
	margin-top: var(--button_top);
	transition: margin 0.2s ease-out, background-color 0.5s ease-out, color 0.5s ease-out;
}

