
:root {
	--search_border_radius: 1em;
	--regen: .5s;
	--rel_modal_border_radius: 1em;
	--rel_modal_radius_regen: .5s;
	--pagination_radius: 15%;
  --pagination_bg_hover: rgb(29, 29, 29);

  --lapage_sm_width: 100%;
  --lapage_sm_margin: 0 0 1rem 0;
  --lapage_sm_padding: 0 0 2rem 0;
  --lapage_sm_bg :  white;

  --lapage_lg_width: 100%;
  --lapage_lg_margin: 1rem;
  --lapage_lg_padding: 0 0 3rem 0;
  --lapage_lg_bg :  white;

  --lapage_xl_width: 100%;
  --lapage_xl_margin: 1rem;
  --lapage_xl_padding: 1rem;
  --lapage_xl_bg : white;

  --page-corps_lg_padding: 0.9rem 0.9rem 0 0.9rem;
  --page-corps_sm_padding: 0rem;
}

html {
  position: absolute;
}
a:focus {
  outline: none;
}
.container,
.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #858796;
	background-color: rgba(80, 80, 80, 0.925);
	width:100vw;
	height:100vh;
}
*, ::before, ::after {
	box-sizing: border-box;
}
.colonneprincipal{
	width:100%;
	background-color: rgba(255, 255, 255, 0.87);
	overflow-x: hidden;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
	z-index: 10;
}
#containertableau{
	overflow-x: hidden;
	padding-bottom: 30px;
	transition: font-size .2s ease-in, padding .2s ease-in, margin .2s ease-in;
}
#pageheader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 11;
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
	justify-content: space-between;
	padding: 0.5rem 1rem;
}
#wrapper {
  display: flex;
	height: 100%;
	background-color: rgb(107, 107, 107);
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
a:link {
	text-decoration: none;
}
.brand-logo, #vinyl-bouton{
	z-index:13;
}
.brand-logo a, .brand-logo:link, .brand-logo:visited,
.vinyl-bouton a, .vinyl-bouton:link, .vinyl-bouton:visited{
	color: white;
}
.brand-logo a:hover, .brand-logo a:active,
.vinyl-bouton a:hover, .vinyl-bouton a:active {
	color: green;
	font-weight: 600;
	font-style: italic;
}


.shadow {
	box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.maselection::selection {
	background-color: rgba(235, 0, 0, 0.925);
}




.surtop {
	z-index: 9999;
}

/* tableau  */
.lapage{
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e3e6f0;
  border-radius: var(--search_border_radius);
  overflow: hidden;
  transition: border var(--regen) ease-in;
  padding: var(--lapage_lg_padding);
  margin: var(--lapage_lg_margin);
}
.page-corps {
	flex: 1 1 auto;
  padding: var(--page-corps_lg_padding);
}

@media (max-width: 575px) {
	#containertableau{
		margin: 1px;
		padding: 1px;
		font-size: .8rem;
		transition: font-size .2s ease-in, padding .2s ease-in, margin .2s ease-in, padding .2s ease-in;
	}
	.page-corps {
    padding: var(--page-corps_sm_padding);
  }
  .lapage{
    padding: var(--lapage_sm_padding);
    margin: var(--lapage_sm_margin);
    background-color: var(--lapage_sm_bg);
  }
}
@media (min-width: 576px) {
	.page-corps {
    padding: var(--page-corps_lg_padding);
  }
  .lapage{
    padding: var(--lapage_lg_padding);
    margin: var(--lapage_lg_margin);
    background-color: var(--lapage_lg_bg);
  }
}
@media (min-width: 1000px) {
	.page-corps {
    padding: var(--page-corps_xl_padding);
  }
  .lapage{
    padding: var(--lapage_xl_padding);
    margin: var(--lapage_xl_margin);
    background-color: var(--lapage_xl_bg);
  }
}


/* TABLE */
table {
  border-collapse: collapse;
} 
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered {
  border: 0;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #858796;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e3e6f0;
}

.table tbody + tbody {
  border-top: 2px solid #e3e6f0;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #e3e6f0;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e3e6f0;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}


.table-hover tbody tr:hover {
  color: #858796;
  background-color: rgba(0, 0, 0, 0.075);
}

/* BUTONS */
.btn {
  padding: 0.2rem .5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.btn-dark {
  color: #fff;
  background-color: #5a5c69;
  border-color: #5a5c69;
}
.btn-dark:hover {
  color: #fff;
  background-color: #484a54;
  border-color: #42444e;
}
.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(115, 116, 128, 0.5);
}
.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #5a5c69;
  border-color: #5a5c69;
}

/* RESULTS COUNT */
.page-entete {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}
/* Nav top link */
#scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.548);
  background: rgba(90, 92, 105, 0.5);
  line-height: 46px;
  border-radius: .5rem;
  font-size: 2rem;
}
#scroll-to-top.eteint{
  display: none;
}
#scroll-to-top:focus, #scroll-to-top:hover {
  color: white;
  background: #000000;
}
#scroll-to-top i {
  font-weight: 800;
}

/* experiences a faire 
@-webkit-keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated--fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
  animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
}
*/